<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mountain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mountain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Mountain.Properties.Settings>
            <setting name="RegisteredAccounts" serializeAs="String">
                <value>users.xml</value>
            </setting>
            <setting name="WorldsDirectory" serializeAs="String">
                <value>worlds</value>
            </setting>
            <setting name="TemplateDirectory" serializeAs="String">
                <value>templates</value>
            </setting>
            <setting name="AreaBuildDirectory" serializeAs="String">
                <value>build/area</value>
            </setting>
            <setting name="RoomBuildDirectory" serializeAs="String">
                <value>build/room</value>
            </setting>
            <setting name="ExitBuildDirectory" serializeAs="String">
                <value>build/exit</value>
            </setting>
            <setting name="ItemBuildDirectory" serializeAs="String">
                <value>build/item</value>
            </setting>
            <setting name="BuildDirectory" serializeAs="String">
                <value>build</value>
            </setting>
            <setting name="WorldBuildDirectory" serializeAs="String">
                <value>build/world</value>
            </setting>
            <setting name="WorldTemplateDirectory" serializeAs="String">
                <value>templates/world</value>
            </setting>
            <setting name="AreaTemplateDirectory" serializeAs="String">
                <value>templates/area</value>
            </setting>
            <setting name="RoomTemplateDirectory" serializeAs="String">
                <value>templates/room</value>
            </setting>
            <setting name="ItemTemplateDirectory" serializeAs="String">
                <value>templates/item</value>
            </setting>
            <setting name="ExitTemplateDirectory" serializeAs="String">
                <value>templates/exit</value>
            </setting>
            <setting name="PlayersDirectory" serializeAs="String">
                <value>players</value>
            </setting>
        </Mountain.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Mountain.Properties.Settings>
            <setting name="LastSavedWorld" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="LastLoadedWorld" serializeAs="String">
                <value>""</value>
            </setting>
        </Mountain.Properties.Settings>
    </userSettings>
</configuration>